div {
  font-family: sans-serif;
}

.employee-data {
  width: 300px;
  border: 1px silver solid;
  margin: auto;
}

.employee-data-header {
  border-bottom: 1px silver solid;
  padding: 5px;
  background-color: #f1f1f1;
  font-weight: bold;
}

.employee-data-rows {
  padding: 5px;
}

.employee-data-row {
  padding: 5px;
}

.employee-data-row label {
  display: block;
  float: left;
  width: 100px;
  text-align: right;
  padding-right: 5px;
}

.employee-data-footer {
  border-top: 1px silver solid;
  padding: 5px;
  text-align: right;
}

.employee-data-legend {
  border: 1px silver solid;
  width: 300px;

  margin: auto;
  margin-top: 10px;
  color: gray;
  font-size: 10px;
}

.employee-data-legend div {
  padding: 0px 5px;
}

.employee-data-legend h3 {
  padding: 0px;
  margin: 0px;
}

.html-log-div {
  position: absolute;
  padding: 5px;
  border: 1px silver solid;
  top: 30;
  left: 30;
}

li.info-log-msg {
  color: green;
}

li.warn-log-msg {
  color: orange;
}

li.err-log-msg {
  color: red;
}
